body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #e1e1e1;
}

a {
    text-decoration: none;
    text-underline: none;
}

#newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    background-color: #000000;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 15px 15px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    position: relative;
}

.news-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    position: relative;
}

.news-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.news-user-info {
    display: flex;
    flex-direction: row;
}

.news-date {
    display: flex;
    align-items: flex-end;

    margin-left: 10px;
}

.news-username {
    font-size: 20px;
    font-weight: bold;
    color: #efefef;
}

.news-date {
    font-size: 12px;
    color: #efefef;
}

.news-content {
    margin-top: 10px;
}

.news-text {
    margin-bottom: 10px;
    color: #efefef;
}

.news-image {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 500px;
    border-radius: 8px;
}

.news-title {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.news-email {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 20px 0 20px;
}

.news-footer {
    display: flex;
    gap: 120px;

    position: absolute;
    left: 80px;
    bottom: 5px;
}

.news-footer-image1,
.news-footer-image2,
.news-footer-image3,
.news-footer-image4 {
    width: 20px;
    height: 20px;
}

.counter {
    color: #FFFFFF;
}

.delete-button {
    width: 20px;
    height: 20px;
    position: absolute;

    right: 0;
    top: 0;
}
